.container  
  .wrapper
    .room 
      = @name
    .mypage 
      %p.mypage_new
        = link_to "プロフィール"
      %p.mypage_edit 
        - if user_signed_in? && current_user.id == @profile.id  
          = link_to "自己紹介", edit_user_profile_path(current_user)
        -else 
          = link_to "自己紹介"
    .content_1  
      .content_left
        %h1.user_name  
          = link_to "クレジットカード情報", new_card_path, method: :get 
        %h1.user_area= "配送元地域：福岡" 
        %h1.user_count= "出品数：#{@items.count}"
        %h1.user_like= "いいね数：４" 
      .content_right
        %h1.user_introduce
          = @profile.text 
    .between         
      %p.between_image
        = link_to "出品一覧", root_path
    .content_2  
      - @items.first(3).each do |item|  
        .content  
          %h2.user_images  
            - item.images.each do |image|  
              = image_tag image.image.url, class: "item_image" if image.image.present?                     
          %ul.user_info    
            %li.user.title 
              = "商品名：#{item.title}" 
            %li.user.price
              = "¥#{item.price}" 
            %li.user.stock   
              = "在庫：#{item.stock}個"  
            %li.user.brand
              = "ブランド：#{item.brand}"  
            %li.user.condition
              = "商品の状態：#{item.condition}"  
            %li.user.leadtime
              = "配送目安：#{item.leadtime}日"
        








