.Devise.form
  .Devise__main
    .Devise__header
      住所情報編集
    = form_with model: [@user, @address], local: true, id: "edit_address" do |f|
      .title
        送付先氏名
      .flex
        .field.text-input
          = f.text_field :family_name_kana, autofocus: true, placeholder: "ふりがな"
          %span.separator

        .field.text-input
          = f.text_field :first_name_kana, placeholder: "ふりがな"
          %span.separator
      .flex
        .field.text-input
          = f.text_field :family_name, placeholder: "名字"
          %span.separator

        .field.text-input
          = f.text_field :first_name, placeholder: "名前"
          %span.separator
      .field.text-input
        = f.text_field :zipcode, placeholder: "郵便番号"
        %span.separator
      .field.text-input
        = f.text_field :area, placeholder: "都道府県"
        %span.separator
      .field.text-input
        = f.text_field :city, placeholder: "市町村"
        %span.separator
      .field.text-input
        = f.text_field :street, placeholder: "その他(番地など)"
        %span.separator
      .actions.form-bottom
        = f.submit "編集"
      = link_to "戻る", user_path(@user)
