%h1 フォームです
= form_with model: @item, local: true do |f|
  .form-group
    =f.label :images do
      商品画像
    =f.fields_for :images do |i|
      =i.file_field :image

  .form-group
    = f.label :title do
      商品名
    = f.text_field :title

  .form-group
    = f.label :price do
      値段
    = f.number_field :price

  .form-group
    = f.label :text do
      商品紹介
    = f.text_area :text

  = f.hidden_field :stock, value: 1

  .form-group
    =f.label :condition do
      商品の状態
    =f.text_field :condition

  .form-group
    =f.label :leadtime do
      発送までの日数
    =f.number_field :leadtime

    = f.label :brand do
      ブランド名
    = f.text_field :brand

  .form-group
    = f.label :category_id do
      カテゴリー
    = f.collection_select :category_id, Category.all, :id, :name

  .form-group
    = f.label :derivery_id do
      配送方法
    = f.collection_select :delivery_id, Delivery.all, :id, :name

  .form-group
    = f.submit "出品"
