%h1 フォームです
= form_with model: @item, local: true do |f|
  .form-group
  #image-box
    #previews
      - if @item.persisted?
        - @item.images.each_with_index do |image, i|
          = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
    =f.label :images do
      商品画像
    =f.fields_for :images do |i|
      .js-file_group{"data-index" => "#{i.index}"}
        =i.file_field :image, class: 'js-file'
        %span.js-remove 削除
      - if @item.persisted?
        = image.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
    - if @item.persisted?
      .js-file_group{"data-index" => "#{@item.images.count}"}
        = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
        .js-remove 削除

  .form-group
    = f.label :title do
      商品名
    = f.text_field :title

  .form-group
    = f.label :price do
      値段
    = f.number_field :price

  .form-group
    = f.label :text do
      商品紹介
    = f.text_area :text

  .form-group
    = f.hidden_field :stock, value:1

  .form-group
    =f.label :condition do
      商品の状態
    =f.text_field :condition

  .form-group
    =f.label :leadtime do
      発送までの日数
    =f.number_field :leadtime
  
  .form-group
    = f.label :brand do
      ブランド名
    = f.text_field :brand

  .form-group
    = f.label :category_id do
      カテゴリー
    = f.collection_select :category_id, Category.all, :id, :name

  .form-group
    = f.label :derivery_id do
      配送方法
    = f.collection_select :delivery_id, Delivery.all, :id, :name

  .form-group
    = f.submit "出品"
