.header
  .header__headerBox
    .header__headerBox--appIcon
      = link_to root_path do
        = image_tag ( "logo.png") , size: "200×90", class: "iconBtn"
    .header__headerBox--searchBox
      .header__headerBox--searchBox--formBox
        = form_with(url: search_items_path, local: true, method: :get, class: "Form") do |f|
          = f.text_field :keyword, class: "Form__input", placeholder: "タイトルから探す"
          = button_tag type:"submit", class: "Form__submit" do
            = link_to image_tag ( "icon-search1.png") , class: "submit_image"
      .upper
        = search_form_for  @detail, url: detail_items_path ,html: { method: :post }, class: "form-select" do |f|
          = f.select( :sorts, { '並び替え検索': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc', 'いいね!の多い順': 'likes_count desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()', class: "detail-text"})
  .header__headerBox2
    .header__headerBox2--various

      %ul.focus
        %li.focus__category
          #menu
            = link_to "カテゴリー", "#", class: "cateBtn"

            %ul#pareUl.pareUl
              - @category_parents.each do |parent|
                %li.pareLi
                  = link_to parent.name, "#", class: "parent", id: "#{parent.id}"

                  %ul.pareUl2
                    - parent.children.each do |child|
                      %li.pareLi2
                        = link_to child.name, "#", class: "child", id: "#{child.id}"

                        %ul.pareUl3
                          - child.children.each do |grandchild|
                            %li.pareLi3
                              = link_to grandchild.name, "#", class: "grandchild", id: "#{grandchild.id}"

        %li.focus__brand
          = link_to "ブランド", "#", class: "brandBtn"
      %ul.log
        - if user_signed_in?
          %li.log__signIn
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to "マイページ", user_path(current_user)
        - else
          %li.log__signIn
            = link_to "新規登録", "#", class: "signup"
            = link_to "ログイン", "#", class: "login"

        = link_to new_item_path, class: "log__new" do
          出品する
          = image_tag "icon_camera.png", class: "camera"
