.main
  ●●●メインページ
  .main__box
    ●●
    .main__box--textBox
      .main__box--textBox--content0
        .main__box--textBox--content0--contentBox
          .main__box--textBox--content0--contentBox--text1
            .main__box--textBox--content0--contentBox--text1--text2
              人生を変えるフリマアプリ
          .main__box--textBox--content0--contentBox--text3
            FURIMAはだれでもかんたんに出品・購入できる
            %br
            フリマアプリです
      .main__box--textBox--content1
        .main__box--textBox--content1--introBox
          FURIMAが選ばれる3つの理由
        %ul.introduction
          %li.introduction__reason1
            .introduction__reason1--image1
            .introduction__reason1--text1
              3分ですぐに出品
            .introduction__reason1--comment1
              スマホで入力するだけで簡単に出品できる！
          %li.introduction__reason2
            .introduction__reason2--image2
            .introduction__reason2--text2
              シンプルで使いやすい
            .introduction__reason2--comment2
              めんどくさい入力は必要なく、検索も購入もスムーズ！
          %li.introduction__reason3
            .introduction__reason3--image3
            .introduction__reason3--text3
              手数料業界最安
            .introduction__reason3--comment3
              最大3%でお得に出品&購入！
      .main__box--textBox--content2
        アプリに関して②（ダウンロードの仕方）
      .main__box--textBox--content3
        アプリに関して③（アプリ特徴）
    .main__box--itemBox
      .main__box--itemBox--itemIndex
        商品一覧
        .main__box--itemBox--itemIndex--item

          - @items.each do |item|
            %ul.item_status
              %li.item_status__stock
                = "在庫#{item.stock}" #ここは条件分岐在庫の有無を表示する
              %li.item_status__price
                価格:
                = item.price
              %li.item_status__title
                商品名:
                = link_to item.title, item_path(item)
              -# - else
              -# = image_tag image.image.url, class: "item_image" if image.image.present?
              %ul.item_status
                %li.item_status__price
                  価格:
                  = item.price
                %li.item_status__title
                  商品名:
                  = item.title
      .main__box--itemBox--archive
        アーカイブ？
    .main__box--download
      今すぐ無料ダウンロード


  -# .main__box--itemBox--itemIndex
  -#       .main__box--itemBox--itemIndex--item
  -#         - @items.each do |item, image|
  -#           - if item.stock == 0
  -#             %ul.item_status
  -#               %li.item_status__stock
  -#                 SOLD
  -#               %li.item_status__price
  -#                 価格:
  -#                 = item.price
  -#               %li.item_status__title
  -#                 商品名:
  -#                 = item.title
  -#           - else
  -#             -# = image_tag image.image.url, class: "item_image" if image.image.present?
  -#             %ul.item_status
  -#               %li.item_status__price
  -#                 価格:
  -#                 = item.price
  -#               %li.item_status__title
  -#                 商品名:
  -#                 = item.title
  -#     .main__box--itemBox--archive
  -#       アーカイブ？

