-# .credit
-#   .credit__text
-#     クレジットカード情報入力
-#   -# ②全フォーム
-#   .credit__form
-#     =form_with model: @card, id: "all-form", local: true do |f| 
-#       .credit__form--cardNumber
-#         -# 1.カード番号フォーム
-#         .credit__form--cardNumber--box
-#           %label.card-number
-#             カード番号
-#           %span.required
-#             必須
-#           .credit__form--cardNumber--box--field
-#             = f.text_field :card_number, placeholder: "半角数字のみ", maxlength: "16", id: "number"
-#           .credit__form--card-number--box--card-icon
-#             %ul
-#               %li
-#                 = image_tag "/assets/logo_download_ph001.png", size: "40x30", class: 'credit_logo'
-#                 = image_tag "/assets/mastercard_vrt_pos_92px_2x.png", size: "40x30", class: 'credit_logo'
-#                 = image_tag "/assets/jcb300px.gif", size: "40x30", class: 'credit_logo'
-#                 = image_tag "/assets/1200px-American_Express_logo_(2018).svg.png", size: "40x30", class: 'credit_logo'
-#                 = image_tag "/assets/diners_000.jpg", size: "40x30", class: 'credit_logo'
-#         -# 2.有効期限フォーム
-#         .credit__form--cardNumber--date
-#           %label.expiration-date
-#             有効期限
-#           %span.required2
-#             必須
-#           .credit__form--cardNumber--date--form1
-#             = f.select :exp_month, [["01", 1],["02", 2],["03", 3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]], id: "exp_month"
-#             .expiration-text 月
-#             = f.select :exp_year, [["2020", 2020],["2021", 2021],["2022", 2022],["2023",2023],["2024",2024],["2025",2025],["2026",2026],["2027",2027],["2028",2028],["2029",2029],["2030",2030]], id: "exp_year"
-#             .expiration-text 年
-#         // 3.セキュリティーコード
-#         .credit__form--cardNumber--security
-#           %label.security-code
-#             セキュリティーコード
-#           %span.required3
-#             必須
-#           .credit__form--cardNumber--security--form2
-#             = f.text_field :security_code, placeholder: "カード背面４桁もしくは３桁の番号", maxlength: "4", id: "cvc" 
-#         // 4.「追加する」ボタン
-#         .credit__form--cardNumber--btn
-#           =f.submit "追加する", class: "submit-btn", id: "charge_form"


-# パンくず
- breadcrumb :card

.credit
  .credit__text
    クレジットカード情報入力
  .credit__form
    .credit__form--cardNumber
      = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
        -# 1.カード番号フォーム
        .credit__form--cardNumber--box
          %label.card-number
            カード番号
          %span.required
            必須
          .credit__form--cardNumber--box--field
            = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          .credit__form--card-number--box--card-icon
            %ul
              %li
                = image_tag "/assets/logo_download_ph001.png", size: "40x30", class: 'credit_logo'
                = image_tag "/assets/mastercard_vrt_pos_92px_2x.png", size: "40x30", class: 'credit_logo'
                = image_tag "/assets/jcb300px.gif", size: "40x30", class: 'credit_logo'
                = image_tag "/assets/1200px-American_Express_logo_(2018).svg.png", size: "40x30", class: 'credit_logo'
                = image_tag "/assets/diners_000.jpg", size: "40x30", class: 'credit_logo'

        -# 2.有効期限フォーム
        .credit__form--cardNumber--date
          %br
          %label.expiration-date
            有効期限
          %span.required2
            必須
          .credit__form--cardNumber--date--form1
            %select#exp_month{name: "exp_month", type: "text"}
              %option{value: ""} --
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
            %span.expiration-text
              月/
            %select#exp_year{name: "exp_year", type: "text"}
              %option{value: ""} --
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
            %span.expiration-text
              年

        // 3.セキュリティーコード
        .credit__form--cardNumber--security
          %br
          %label.security-code
            セキュリティコード
          %span.required3
            必須
          .credit__form--cardNumber--security--form2
            = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
        // 4.「追加する」ボタン
        #card_token
          .credit__form--cardNumber--btn
            = submit_tag "追加する", class: "submit-btn", id: "token_submit"