= render "header"

.main
  -# 1.人生を変えるフリマアプリ
  .main__box
    .main__box--textBox
      .main__box--textBox--content0
        .main__box--textBox--content0--contentBox
          .main__box--textBox--content0--contentBox--text1
            .main__box--textBox--content0--contentBox--text1--text2
              人生を変えるフリマアプリ
          .main__box--textBox--content0--contentBox--text3
            FURIMAはだれでもかんたんに出品・購入できる
            %br
            フリマアプリです
            .main__box--textBox--content0--contentBox--text3--badgeBox
              %body.badge
                = link_to image_tag ( 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg'), size: "190x95"
                = link_to image_tag ( 'google-play-badge.png'), size: "240x95"
      -# 2.FURIMAが選ばれる3つの理由
      .main__box--textBox--content1
        .main__box--textBox--content1--introBox
          FURIMAが選ばれる3つの理由
          .main__box--textBox--content1--introBox--bar1
        %ul.introduction
          %li.introduction__reason1
            .introduction__reason1--image1
              .introduction__reason1--image1--greenBox1
                1
            .introduction__reason1--text1
              %span.string1
                3分
              ですぐに出品
            %p.comment1
              スマホで入力するだけで簡単に出品できる！
          %li.introduction__reason2
            .introduction__reason2--image2
              .introduction__reason2--image2--greenBox2
                2
            .introduction__reason2--text2
              %span.string2
                シンプル
              で使いやすい
            %p.comment2
              めんどくさい入力は必要なく、検索も購入もスムーズ！
          %li.introduction__reason3
            .introduction__reason3--image3
              .introduction__reason3--image3--greenBox3
                3
            .introduction__reason3--text3
              手数料
              %span.string3
                業界最安
            %p.comment3
              最大3%でお得に出品&購入！
      -# 3.会員数日本一位
      .main__box--textBox--content2
        .main__box--textBox--content2--textBox1
          %p.membership
            会員数日本一位
        .main__box--textBox--content2--textBox2
          %p.famous
            FURIMAは、フリマアプリで最も人気。
            %br
            出品・購入回数も業界最多です！
            %br
            ほしかったあの商品に出会えるかもしれません。
        .main__box--textBox--content2--textBox2--badgeox2
          %body.badge2
            = link_to image_tag ( 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg'), size: "190x95"
            = link_to image_tag ( 'google-play-badge.png'), size: "240x95"
      -# 4.FURIMAの特徴
      .main__box--textBox--content3
        .main__box--textBox--content3--head
          FURIMAの特徴
          .main__box--textBox--content3--head--bar2
        .main__box--textBox--content3--body
          .main__box--textBox--content3--body--featureText2
            .main__box--textBox--content3--body--featureText2--image2
            .main__box--textBox--content3--body--featureText2--text2
              簡単に売り買いできる
            %p.comment2
              スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          .main__box--textBox--content3--body--featureText3
            .main__box--textBox--content3--body--featureText3--image3
            .main__box--textBox--content3--body--featureText3--text3
              売上金は即日振込みに対応
            %p.comment3
              午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
          .main__box--textBox--content3--body--featureText4
            .main__box--textBox--content3--body--featureText4--image4
            .main__box--textBox--content3--body--featureText4--text4
              様々な支払いに対応
            %p.comment4
              お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

    =render "items"

    .main__box--download
      .main__box--download--DLtextBox
        .main__box--download--DLtextBox--comment1
          だれでもかんたん、人生を変えるフリマアプリ
        .main__box--download--DLtextBox--comment2
          今すぐ無料ダウンロード！
        .main__box--download--DLtextBox--badgeBox3
          %body.badge3
            = link_to image_tag ( 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg'), size: "190x95"
            = link_to image_tag ( 'google-play-badge.png'), size: "240x95"
