.footer
  .footer__index
    .footer__index--box1
      %ul.info1
        %li.aboutApp
          アプリについて
        %li.companyInfo
          = link_to "会社概要（運営会社）", "#", class: "company"
        %li.privacyInfo
          = link_to "プライバシーポリシー", "#", class: "privacy"
        %li.termsInfo
          = link_to "利用規約", "#", class: "teams"
        %li.pointInfo
          = link_to "ポイントに関する特約", "#", class: "point"
    .footer__index--box2
      %ul.info2
        アプリを見る
        %li.cateIndex
          = link_to "カテゴリー一覧", "#", class: "category"
        %li.brandIndex
          = link_to "ブランド一覧", "#", class: "brand"
    .footer__index--box3
      %ul.info3
        ヘルプ＆ガイド
        %li.guideInfo
          = link_to "アプリガイド", "#", class: "guide"
        %li.logoInfo
          = link_to "アプリロゴ利用ガイドライン", "#", class: "logoGuide"
        %li.infomation
          = link_to "お知らせ", "#", class: "infoma"
  .footer__bottom
    .footer__bottom--appLogo
      = link_to "アプリロゴ", "#", class: "app"
    .footer__bottom--copyright
      ©️アプリ